@font-face {
    font-family: 'SLEMAN';
    src: url('../../fonts/SLEMAN\ DEMO\ 400.ttf') ;
}




.mainpage-container {
    background-image: url('../../images/main-page.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


.card10 {
    backdrop-filter: blur(10px);
    transform: rotate(-38.91deg);
}